#hero {
  height: 100vh;
  @include flexCenter();
  position: relative;
}

#hero-header {
  font-family: $secondary-font;
  color: $secondary-color;
  padding-left: $default-margin;
  padding-right: $default-margin;
  width: 100%;
  font-size: 3.2vw;
  user-select: none;
  text-align: center;
  pointer-events: none;
  z-index: 1;
}

.hero-header-word {
  transition: 0.8s ease-out;
  display: inline-block;
  &:hover {
    transition: 0.4s ease-out;
    transform: scale(1.05);
  }
}

h1:has(.hero-header-word:hover) > .hero-header-word:not(:hover) {
  transition: 0.4s ease-out;
  filter: blur(8px);
}

@keyframes hero-header {
  90% {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

.hero-header-char {
  display: inline-block;
  opacity: 0;
  transform: scale(1.2);
  filter: blur(8px);
  animation: hero-header 0.8s ease-in-out var(--stagger) forwards;
  pointer-events: none;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  to {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}

.hero-flash {
  @include absoluteCenter();
  opacity: 0.1;
  transform-origin: top left;
  animation: rotate 120s linear infinite;
  z-index: -2;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.flash-line {
  transform: scale(0.7);
  transform-origin: center;
  opacity: 0;
  animation: fade-in 0.5s ease-in var(--stagger) forwards;
}

#hero-image-container {
  opacity: 0;
  transition: 0.4s ease-in;
}

#hero-image-container.active {
  opacity: 1;
}

#hero-image {
  @include absoluteFill();
  @include imageFormat();
  mask-image: linear-gradient(to bottom, black 10%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, black, transparent);
}

.hero-image-mask {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.8;
}

#hero-scroll {
  font-size: 1.1rem;
  font-weight: 500;
  position: absolute;
  left: $default-margin;
  bottom: $default-margin;
}

#hero-links {
  position: absolute;
  right: $default-margin;
  bottom: $default-margin;
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  font-size: 1.1rem;
  .shifting-link-chars {
    margin: 0;
  }
  span {
    color: $accent-color;
    font-weight: 500;
  }
}

// --------- Media Queries ---------

@media screen and (max-width: 700px) {
  #hero-header {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  #hero-scroll {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  #hero-header {
    padding-left: $mobile-margin;
    padding-right: $mobile-margin;
  }
  .hero-flash {
    scale: 1.5;
  }
  #hero-links {
    width: 100%;
    right: 0;
    padding-right: $mobile-margin;
    padding-left: $mobile-margin;
  }
}

@media screen and (max-width: 340px) {
  #hero-links {
    font-size: 1rem;
  }
}
