@import "./hero";

// --------- Home Section 1 --------- //

#home-section-1 {
  height: 100vh;
  display: flex;
  position: relative;
  color: $secondary-color;
  div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h2 {
    font-family: $secondary-font;
    font-size: 5rem;
    margin-bottom: 25%;
    margin-left: $default-margin;
  }
  h3 {
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25%;
    margin-right: $default-margin;
    margin-bottom: $default-margin;
  }
  svg {
    @include absoluteCenter();
    left: 40%;
  }
  .shifting-link {
    font-size: 1.25rem;
    color: $accent-color;
    width: fit-content;
  }
  .shifting-link-chars {
    margin: 0;
  }
}

// --------- Home Section 2 --------- //

.scroll-text-char {
  opacity: 0.1;
  transition: 0.3s ease-in;
}

#home-section-2 {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5rem;
  div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  span {
    font-size: 12rem;
    white-space: nowrap;
    color: lighten($secondary-color, 75%);
  }
  .highlight {
    color: $secondary-color;
  }
  span:nth-child(1) {
    transform: translateX(-80%);
  }
  span:nth-child(2) {
    transform: translateX(-100%);
  }
  span:nth-child(3) {
    transform: translateX(-50%);
  }
}

// --------- Home Section 3 --------- //

#home-section-3 {
  height: 100vh;
  background: darken($primary-color, 2%);
  display: flex;
  justify-content: center;
  gap: $default-margin;
  overflow: hidden;
  position: relative;
}

@keyframes scroll-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-50% - 1rem));
  }
}

@keyframes scroll-down {
  from {
    transform: translateY(calc(-100% + var(--offset)));
  }
  to {
    transform: translateY(calc(-50% + var(--offset) + 1rem));
  }
}

// Seamless scrolling disabled on mobile to improve performance
@keyframes scroll-down-mobile {
  from {
    transform: translateY(-85%);
  }
  to {
    transform: translateY(0);
  }
}

.scrolling-gallery.left {
  animation: scroll-up 60s linear infinite;
}

.scrolling-gallery.right {
  margin-right: $default-margin;
  animation: scroll-down 50s linear infinite;
}

.scrolling-gallery {
  height: fit-content;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.gallery-image {
  @include imageFormat();
  height: 30rem;
  &:hover {
    cursor: pointer;
  }
}

#section-3-header {
  margin-left: $default-margin;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  perspective: 600px;
  h2 {
    transform: rotate3d(1, 0, 0, -30deg) translateY(5rem);
    color: $secondary-color;
    opacity: 0;
    span:nth-child(1) {
      font-family: $secondary-font;
      font-size: 1.2rem;
      font-weight: 500;
    }
    span:nth-child(3) {
      font-size: 2.5rem;
      font-weight: 400;
    }
  }
  .shifting-link {
    color: $accent-color;
    font-size: 1.25rem;
    opacity: 0;
    width: fit-content;
  }
  .shifting-link-chars {
    margin: 0;
  }
}

// --------- Home Section 4 --------- //

#home-section-4 {
  height: 100vh;
  margin-top: 8rem;
  position: relative;
  video {
    @include imageFormat();
  }
  &::after {
    @include pseudoFormatTL();
    background: linear-gradient(
      to top,
      darken($secondary-color, 2%),
      transparent 50%
    );
  }
  h2 {
    position: absolute;
    top: 5rem;
    left: $default-margin;
    font-size: 5rem;
    mix-blend-mode: difference;
    color: $primary-color;
    font-weight: 500;
  }
  &:hover {
    cursor: pointer;
  }
}

#video-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 101;
  video {
    @include imageFormat();
  }
  svg {
    position: absolute;
    top: $default-margin;
    right: $default-margin;
    transition: 0.2s ease-out;
  }
  svg:hover {
    cursor: pointer;
    transform: rotate(180deg);
  }
}

// --------- Home Section 5 --------- //

#home-section-5 {
  height: 100vh;
  color: $primary-color;
  background-color: darken($secondary-color, 2%);
  @include flexCenter();
}

#footer-wrapper {
  height: 90%;
  width: calc(100% - 4rem);
  border: 2px solid $primary-color;
  display: flex;
  position: relative;
}

.footer {
  height: 80%;
}

.footer.left {
  flex: 1;
  border-right: 2px solid $primary-color;
  display: flex;
  flex-direction: column;
  position: relative;
  h2,
  h3 {
    margin: $default-margin;
  }
  h2 {
    font-family: $secondary-font;
    font-size: 3rem;
    font-weight: 500;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0;
  }
  .shifting-link {
    color: lighten($accent-color, 20%);
    width: fit-content;
    font-size: 1.25rem;
  }
  .shifting-link-chars {
    margin: 0;
  }
}

#footer-links {
  position: absolute;
  bottom: $default-margin;
  left: $default-margin;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer.right {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  input:not([type="submit"]),
  textarea {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $primary-color;
    color: $primary-color;
    padding-left: $default-margin;
    padding-right: $default-margin;
    font-size: 1.5rem;
  }
  textarea {
    resize: none;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

#footer-marquee {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  border-top: 2px solid $primary-color;
  overflow: hidden;
  div {
    height: 100%;
    width: 200%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation: marquee 60s linear infinite;
  }
  span {
    font-size: 4rem;
    font-weight: 500;
  }
}

.form-small {
  flex: 1;
}

.form-large {
  flex: 2;
  padding-top: 1.5rem;
}

#submit-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    position: relative;
    margin-right: $default-margin;
  }
  div::before {
    @include pseudoFormatTL($height: 1px, $top: 100%);
    background-color: $primary-color;
    transform: scale(0);
    transition: 0.5s cubic-bezier(0.04, 0.67, 0.27, 0.9);
  }
  div:hover::before {
    transform: scale(1);
  }
  span {
    @include flexCenter();
    margin-left: 1.5rem;
    font-size: 1.5rem;
  }
}

.form-submit {
  background-color: transparent;
  font-size: 1.5rem;
  color: lighten($accent-color, 20%);
  border: none;
  &:hover {
    cursor: pointer;
  }
}

// --------- Media Queries --------- //

@media screen and (max-width: 1200px) {
  #home-section-1 {
    svg {
      left: 25%;
      top: 55%;
      transform: scale(0.7, -0.7) rotate(-50deg);
    }
  }

  #home-section-2 {
    span {
      font-size: 10rem;
    }
  }

  #footer-marquee span {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1020px) {
  #home-section-1 {
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-size: 1.25rem;
    }
  }

  #home-section-2 {
    span {
      font-size: 8rem;
    }
  }

  .gallery-image {
    height: 20rem;
  }

  .footer.left {
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.25rem;
    }
  }
  .footer.right {
    input:not([type="submit"]),
    textarea {
      font-size: 1.25rem;
    }
  }
  #submit-container {
    span,
    input {
      font-size: 1.25rem;
    }
  }
}

@media screen and (max-width: 900px) {
  #footer-marquee span {
    font-size: 2rem;
  }
}

@media screen and (max-width: 800px) {
  #home-section-2 {
    span {
      font-size: 6rem;
    }
  }

  .gallery-image {
    height: 15rem;
  }

  #home-section-4 h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 700px) {
  #home-section-1 {
    height: auto;
    margin-bottom: 5rem;
    flex-direction: column;
    gap: 2rem;
    div {
      width: 100%;
    }
    h2 {
      margin: 10% $default-margin 0 $default-margin;
    }
    h3 {
      margin: 0 $default-margin 0 $default-margin;
    }
    .shifting-link {
      margin-top: $default-margin;
      margin-left: $default-margin;
    }
    svg {
      display: none;
    }
  }

  #section-3-header {
    @include absoluteFill();
    margin-left: 0;
    @include flexCenter();
    z-index: 1;
    &::before {
      @include pseudoFormatTL();
      background-color: rgba($secondary-color, 0.8);
    }
    h2 {
      color: $primary-color;
    }
    .shifting-link {
      color: lighten($accent-color, 50%);
    }
  }
  .scrolling-gallery.left {
    margin-left: $default-margin;
  }

  #home-section-5 {
    height: 150vh;
  }
  .footer.left {
    border-right: none;
    border-bottom: 2px solid $primary-color;
    flex: 1;
  }
  .footer.right {
    margin-bottom: 8rem;
  }
  #footer-marquee {
    height: 8rem;
    div {
      width: 400%;
    }
    span {
      font-size: 2.5rem;
    }
  }
  .form-large {
    flex: 6;
  }
  #footer-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  #home-section-4 h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 450px) {
  #home-section-1 {
    h2 {
      margin: 10% $mobile-margin 0 $mobile-margin;
    }
    h3 {
      margin: 0 $mobile-margin 0 $mobile-margin;
    }
    .shifting-link {
      margin-top: $mobile-margin;
      margin-left: $mobile-margin;
    }
  }

  #home-section-2 {
    span:nth-child(1) {
      transform: translateX(-80%);
    }
    span:nth-child(2) {
      transform: translateX(-250%);
    }
    span:nth-child(3) {
      transform: translateX(-50%);
    }
  }

  #home-section-3 {
    height: 70vh;
    gap: $mobile-margin;
  }
  #section-3-header {
    h2 span:nth-child(3) {
      font-size: 1.75rem;
    }
  }
  .scrolling-gallery.left {
    margin-left: $mobile-margin;
    gap: $mobile-margin;
  }
  .scrolling-gallery.right {
    margin-right: $mobile-margin;
    gap: $mobile-margin;
  }

  #home-section-4 {
    height: 70vh;
  }
  #home-section-4 h2 {
    left: $mobile-margin;
    margin-right: $mobile-margin;
    text-align: center;
    letter-spacing: -2px;
  }

  #footer-wrapper {
    width: calc(100vw - 3rem);
  }
  .footer.left {
    h2,
    h3 {
      margin: $mobile-margin;
    }
  }
  #footer-links {
    bottom: $mobile-margin;
    left: $mobile-margin;
  }
  .footer.right {
    input:not([type="submit"]),
    textarea {
      padding-right: $mobile-margin;
      padding-left: $mobile-margin;
    }
  }
  #footer-marquee {
    height: 8rem;
    div {
      width: 600%;
    }
    span {
      font-size: 3rem;
    }
  }
}
