// ----------- Nav bar ------------

nav {
  --offset: 1rem;
  position: fixed;
  height: 120px;
  width: calc(100vw - var(--offset));
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  pointer-events: none;
}

a:has(#nav-logo) {
  height: 80%;
  margin-left: $default-margin;
}

#nav-logo {
  height: 100%;
  pointer-events: all;
  background: linear-gradient(to top, $primary-color, transparent);
  border: 1px solid $primary-color;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
}

#menu-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $primary-color;
  margin-right: $default-margin;
  @include flexCenterColumn();
  pointer-events: all;
  position: relative;
  transition: 0.5s ease-in 1.2s;
}

nav:has(#menu.active) > #menu-button {
  background-color: transparent;
}

.hamburger {
  width: 40%;
  border-top: 3px solid $secondary-color;
  opacity: 0.8;
  transition: 0.3s ease-out;
  @include absoluteCenter();
}

.hamburger.top {
  top: 38%;
}

.hamburger.bot {
  top: 62%;
}

#menu-button:hover > .hamburger {
  opacity: 1;
}

// ------------ Menu ------------

#menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: $secondary-color;
  z-index: -1;
  transform: translateY(-100%);
  border-bottom: 1px solid rgba($secondary-color, 0.5);
  display: flex;
  pointer-events: all;
}

.menu-section {
  flex: 1;
}

#menu-links {
  @include flexCenterColumn();
  align-items: flex-start;
  div {
    overflow: hidden;
  }
  .shifting-link {
    font-weight: 400;
    font-size: 6rem;
    letter-spacing: -0.5rem;
    transform: translateY(120%);
  }
  .shifting-link.current {
    color: lighten($secondary-color, 25%);
  }
  .link-char::before {
    color: lighten($accent-color, 15%);
  }
}

#menu-images {
  position: relative;
  img {
    @include absoluteCenter();
    width: 20rem;
    height: 30rem;
    border-radius: 1rem;
    object-fit: cover;
    border: 2px solid $secondary-color;
    box-shadow: 0 0 1px 0px $secondary-color inset, 0 0 1px 0px $secondary-color;
    opacity: 0;
  }
  img.current {
    z-index: 1;
  }
  img:nth-child(1) {
    transform: rotate(5deg) translate(-50%, -50%);
  }
  img:nth-child(2) {
    transform: rotate(-5deg) translate(-40%, -55%);
  }
}

// ------------ Media Queries ------------
@media screen and (max-width: 1020px) {
  #menu-links .shifting-link {
    font-size: 4rem;
    letter-spacing: -0.2rem;
  }
}

@media screen and (max-width: 850px) {
  #menu-images img {
    width: 15rem;
    height: 25rem;
  }
}

@media screen and (max-width: 700px) {
  #menu-images img {
    width: 20rem;
    height: 30rem;
  }
  #menu-links {
    @include absoluteFill();
    align-items: center;
    justify-content: center;
    background-color: rgba($secondary-color, 0.7);
    z-index: 1;
    .shifting-link.current {
      color: lighten($secondary-color, 40%);
    }
  }
}

@media screen and (max-width: 500px) {
  #menu-images {
    display: none;
  }
  #menu-links {
    align-items: flex-start;
    gap: 10px;
  }
  #menu-links .shifting-link {
    font-size: 2rem;
    letter-spacing: -0.1rem;
  }
}

@media screen and (max-width: 450px) {
  nav a {
    margin-left: $mobile-margin;
  }

  #menu-button {
    margin-right: $mobile-margin;
  }
}
