@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexCenterColumn() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin absoluteCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin absoluteFill() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin pseudoFormatTL($top: 0, $left: 0, $width: 100%, $height: 100%) {
  content: "";
  position: absolute;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
}

@mixin pseudoFormatBR($bottom: 0, $right: 0, $width: 100%, $height: 100%) {
  content: "";
  position: absolute;
  bottom: $bottom;
  right: $right;
  width: $width;
  height: $height;
}

@mixin imageFormat() {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
