@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lusitana:wght@400;700&display=swap");

$primary-color: rgb(253, 252, 245);
$secondary-color: rgb(32, 31, 30);
$accent-color: rgb(11, 111, 193);

$primary-font: "Inter", sans-serif;
$secondary-font: "Lusitana", serif;

$default-margin: 2rem;
$mobile-margin: 1.5rem;
